mixin progress(from, too, next)
    .progress(data-progress-value-from=`${from}`
        data-progress-value-to=`${too}`
        data-progress-value-next=`${next}`)
        .progress__loader
            .progress__value
                //- span.val= `${from}`
                span.val
                span %

            .progress__pic
                svg(width='100%' height='100%' xmlns='http://www.w3.org/2000/svg')
                    circle(
                        cx='50%'
                        cy='50%'
                        r='40'
                        fill="none"
                        stroke='black'
                        stroke-opacity='0.07'
                        stroke-width='10'
                    )
                    circle.progress__circle(
                        cx='50%'
                        cy='50%'
                        r='40'
                        fill="none"
                        stroke="url(#progressGradient)"
                        stroke-width='10'
                        stroke-linecap='round'
                        stroke-dashoffset='0'
                    )
                    circle(
                        cx='50%'
                        cy='50%'
                        r='calc(50% - 5px)'
                        fill="none"
                        stroke='white'
                        stroke-opacity='0.2'
                        stroke-width='10'
                    )
                    defs
                        lineargradient#progressGradient(x1='45' y1='5' x2='45' y2='85' gradientUnits='userSpaceOnUse')
                            stop(stop-color='#2EAEB7')
                            stop(offset='1' stop-color='#89F7FF')