//- Including progress bar mixin
include ../progress/progress

//- visible hidden
section.step#questionFourth.hidden
    .step__wrap
        .container.animation-element
            .row
                .col-12
                    h3.step__title
                        | Бывают ли у вас воспаления
                        br.d-lg-none
                        | и подкожные прыщи?

        .container.animation-element
            .row
                .col-12
                    form.form-question(action="")

                        label.form-question__label
                            input.controller.btn_next-step.invisible(
                                type="radio"
                                name="questionFourth"
                                data-question="Бывают ли у вас воспаления и подкожные прыщи?"
                                data-answer="Да, часто."
                                data-next-step-id="#questionFifthOne")
                            span.form-question__pic(style="background-image: url('img/questions/fourth/1.jpg')")
                            span.form-question__val Да, часто

                        label.form-question__label
                            input.controller.btn_next-step.invisible(
                                type="radio"
                                name="questionFourth"
                                data-question="Бывают ли у вас воспаления и подкожные прыщи?"
                                data-answer="Очень редко."
                                data-next-step-id="#questionFifthTwo")
                            span.form-question__pic(style="background-image: url('img/questions/fourth/2.jpg')")
                            span.form-question__val Очень редко

                        .clearfix

                        label.form-question__label
                            input.controller.btn_next-step.invisible(
                                type="radio"
                                name="questionFourth"
                                data-question="Бывают ли у вас воспаления и подкожные прыщи?"
                                data-answer="Ничего такого у меня нет."
                                data-next-step-id="#questionFifthTwo")
                            span.form-question__pic(style="background-image: url('img/questions/fourth/3.jpg')")
                            span.form-question__val
                                | Ничего такого
                                br
                                | у меня нет

        .container.animation-element
            .row
                .col-12
                    .state
                        .state__sidebar
                            .state__progress
                                //- Передаём в Миксин процент прохождения
                                +progress(45, 60, 75)

                            .state__step
                                span Вопрос
                                | !{" "}
                                span.accent 4
                                | !{" "}
                                span из 7

                            .state__btn-wrap
                                button.btn.btn_back.btn_prev-step(type="button")
                                    include ../../../img/i-btn-back.svg
                                    span Назад

                        .state__title Система формирует ваш протокол ухода

                        .state__protocol
                            img(src="img/protocols/third.png" alt="")