//- visible hidden
section.step#questionRestrictions.hidden
    .step__wrap
        .container.animation-element
            .row
                .col-12
                    h3.step__title
                        | Есть ли у вас ограничения&nbsp;
                        br.d-md-none
                        | по использованию
                        br
                        | косметических средств?

        .container.animation-element
            .row
                .col-12
                    form.form-question(action="")

                        label.form-question__label
                            input.controller.btn_next-step.invisible(
                                type="radio"
                                name="restrictions"
                                data-question="Есть ли у вас ограничения по использованию косметических средств?"
                                data-answer="Прохожу курс ретиноидов."
                                data-next-step-id="#resultTherapy")
                            span.form-question__pic(data-src="img/questions/restrictions/1.jpg")
                            span.form-question__val Прохожу курс ретиноидов

                        label.form-question__label
                            input.controller.btn_next-step.invisible(
                                type="radio"
                                name="restrictions"
                                data-question="Есть ли у вас ограничения по использованию косметических средств?"
                                data-answer="Гнойные воспаления на лице, более 15 шт."
                                data-next-step-id="#resultTherapy")
                            span.form-question__pic(data-src="img/questions/restrictions/2.jpg")
                            span.form-question__val
                                | Гнойные&nbsp;
                                br.d-md-none
                                | воспаления
                                br
                                | на лице,&nbsp;
                                br.d-md-none
                                | более 15 шт.

                        .clearfix

                        label.form-question__label
                            input.controller.btn_next-step.invisible(
                                type="radio"
                                name="restrictions"
                                data-question="Есть ли у вас ограничения по использованию косметических средств?"
                                data-answer="У меня склонность к аллергическим реакциям."
                                data-next-step-id="#resultTherapy")
                            span.form-question__pic(data-src="img/questions/restrictions/3.jpg")
                            span.form-question__val
                                | У меня склонность
                                br.d-none.d-md-block
                                | к аллергическим &nbsp;
                                br.d-none.d-md-block
                                | реакциям

                        label.form-question__label
                            input.controller.btn_next-step.invisible(
                                type="radio"
                                name="restrictions"
                                data-question="Есть ли у вас ограничения по использованию косметических средств?"
                                data-answer="Ничего такого у меня нет."
                                data-next-step-id="#questionFirst")
                            span.form-question__pic(data-src="img/questions/restrictions/4.jpg")
                            span.form-question__val
                                | Ничего&nbsp;
                                br.d-md-none
                                | такого&nbsp;
                                br.d-none.d-md-block
                                | у меня&nbsp;
                                br.d-md-none
                                | нет