//- Including progress bar mixin
include ../progress/progress

//- visible hidden
section.step#questionSeventh.hidden
    .step__wrap
        .container.animation-element
            .row
                .col-12
                    h3.step__title
                        | Бывают ли у вас воспаления
                        br.d-lg-block
                        | (угревая сыпь/прыщики) на спине?

        .container.animation-element
            .row
                .col-12.col-xl-5.offset-xl-2
                    form.form-question(action="")

                        label.form-question__label
                            input.controller.controller_btn-next.invisible(
                                type="radio"
                                name="questionSeventh"
                                data-question="Бывают ли у вас воспаления (угревая сыпь/прыщики) на спине?"
                                data-answer="Да, часто.")
                            span.form-question__pic(data-src="img/questions/seventh/1.jpg")
                            span.form-question__val Да, часто

                        label.form-question__label
                            input.controller.controller_btn-next.invisible(
                                type="radio"
                                name="questionSeventh"
                                data-question="Бывают ли у вас воспаления (угревая сыпь/прыщики) на спине?"
                                data-answer="Ничего такого у меня нет.")
                            span.form-question__pic(data-src="img/questions/seventh/2.jpg")
                            span.form-question__val
                                | Ничего такого
                                br
                                | у меня нет

                        .state__btn-wrap.d-none.d-xl-flex.flex-column
                            .btn-next-step__wrap
                                button.btn.btn_next.btn_next-step.animation-line(type="button" data-next-step-id="#showResult")
                                    span К результату
                                    include ../../../img/i-btn-next.svg

                            button.btn.btn_back.btn_prev-step(type="button")
                                include ../../../img/i-btn-back.svg
                                span Назад

                .col-12.col-xl-3.ml-xl-n4
                    .state
                        .state__sidebar
                            .state__progress
                                //- Передаём в Миксин процент прохождения
                                +progress(90, 100, 101)

                            .state__step
                                span Вопрос
                                | !{" "}
                                span.accent 7
                                | !{" "}
                                span из 7

                            .state__btn-wrap.d-xl-none
                                .btn-next-step__wrap
                                    button.btn.btn_next.btn_next-step.animation-line(type="button" data-next-step-id="#showResult")
                                        span К результату
                                        include ../../../img/i-btn-next.svg

                                button.btn.btn_back.btn_prev-step(type="button")
                                    include ../../../img/i-btn-back.svg
                                    span Назад

                        .state__title Система формирует ваш протокол ухода

                        .state__protocol
                            img.protocols(data-src="img/protocols/seventh.png" src="" alt="")