//- Including progress bar mixin
include ../progress/progress

//- visible hidden
section.step#questionThird.hidden
    .step__wrap
        .container.animation-element
            .row
                .col-12
                    h3.step__title
                        | Характерны ли для вашей кожи&nbsp;
                        br.d-lg-none
                        | такие проблемы?
                        span Можно выбрать несколько вариантов

        .container.animation-element
            .row
                .col-12.col-xl-5.offset-xl-2
                    form.form-question(action="")

                        label.form-question__label
                            input.controller.controller_btn-next.invisible(
                                type="checkbox"
                                name="questionThird"
                                data-question="Характерны ли для вашей кожи такие проблемы?"
                                data-answer="Расширенные поры и/или черные точки.")
                            span.form-question__pic(data-src="img/questions/third/1.jpg")
                            span.form-question__val
                                | Расширенные поры&nbsp;
                                br.d-none.d-md-block
                                | и/или черные точки

                        label.form-question__label
                            input.controller.controller_btn-next.invisible(
                                type="checkbox"
                                name="questionThird"
                                data-question="Характерны ли для вашей кожи такие проблемы?"
                                data-answer="Шелушение и/или неровности кожи.")
                            span.form-question__pic(data-src="img/questions/third/2.jpg")
                            span.form-question__val Шелушение и/или неровности кожи

                        .clearfix

                        label.form-question__label
                            input.controller.controller_btn-next.invisible(
                                type="checkbox"
                                name="questionThird"
                                data-question="Характерны ли для вашей кожи такие проблемы?"
                                data-answer="Тусклый цвет лица.")
                            span.form-question__pic(data-src="img/questions/third/3.jpg")
                            span.form-question__val
                                | Тусклый цвет
                                br
                                | лица

                        label.form-question__label
                            input.controller.btn_next-step.invisible(
                                type="radio"
                                name="questionThird"
                                data-question="Характерны ли для вашей кожи такие проблемы?"
                                data-answer="Ничего такого у меня нет."
                                data-next-step-id="#questionFourth")
                            span.form-question__pic(data-src="img/questions/third/4.jpg")
                            span.form-question__val
                                | Ничего такого
                                br
                                | у меня нет

                        .state__btn-wrap.d-none.d-xl-flex.flex-column
                            .btn-next-step__wrap
                                button.btn.btn_next.btn_next-step.animation-line(type="button" data-next-step-id="#questionFourth")
                                    span Далее
                                    include ../../../img/i-btn-next.svg

                            button.btn.btn_back.btn_prev-step(type="button")
                                include ../../../img/i-btn-back.svg
                                span Назад

                .col-12.col-xl-3.ml-xl-n4
                    .state
                        .state__sidebar
                            .state__progress
                                //- Передаём в Миксин процент прохождения
                                +progress

                            .state__step
                                span Вопрос
                                | !{" "}
                                span.accent 3
                                | !{" "}
                                span из 7

                            .state__btn-wrap.d-xl-none
                                .btn-next-step__wrap
                                    button.btn.btn_next.btn_next-step.animation-line(type="button" data-next-step-id="#questionFourth")
                                        span Далее
                                        include ../../../img/i-btn-next.svg

                                button.btn.btn_back.btn_prev-step(type="button")
                                    include ../../../img/i-btn-back.svg
                                    span Назад

                        .state__title Система формирует ваш протокол ухода

                        .state__protocol
                            img.protocols(data-src="img/protocols/third.png" src="" alt="")