//- .first-screen_invisible
section#firstScreen.first-screen
    .container
        .row
            .col-12.order-xl-1
                .first-screen__caption
                    h1
                        span хотите избавиться
                        span от акне?
                    p
                        span
                            | Бесплатная
                            br.d-md-none
                            | онлайн-диагностика
                            br
                            | проблемной кожи
                        span
                            | Ответьте на
                            | !{" "}
                            span.accent 7 вопросов
                            br
                            | и получите индивидуальный &nbsp;
                            br.d-xl-none
                            | протокол ухода за кожей
                    span.first-screen__comparison#comparisonWrap

                button.btn.first-screen__btn.animation-line.go-to-quiz.first-screen__comparison-btn.d-xl-none(type="button") пройти тест

            .col-12.col-xl-6.order-xl-3
                .first-screen__presentation
                    .first-screen__brend
                        .first-screen__pic(style="background-image: url('img/products.png')")
                        .first-screen__content
                            .first-screen__content-caption.d-flex.align-items-center
                                span.pic
                                    include ../../../img/silhouette.svg
                                span
                                    | разработано
                                    br
                                    | косметологами

                            .first-screen__content-txt
                                | бренда профессиональной
                                br
                                | космецевтики icon skin
                                br
                                | (франция)

                    .first-screen__video.d-flex.justify-content-end.align-items-center
                        span.first-screen__video-desc Получи персональную консультацию косметолога
                        .modal-video
                            .modal-video__container
                                h5.d-flex.justify-content-center.align-items-center диагностика кожи он-лайн
                                video#videoBackground(
                                    autoplay="autoplay"
                                    controlslist="nodownload"
                                    disablepictureinpicture=""
                                    loop="loop"
                                    muted="muted"
                                    playsinline=""
                                    preload="auto"
                                    src="video/promotion.mp4"
                                    data-toggle="modal"
                                    data-target="#videoPresentationModal")
                                    source(src="video/promotion.mp4" type="video/mp4")

                                a.btn-whatsapp.d-flex.justify-content-center.align-items-center(target="_blank"
                                    href="https://api.whatsapp.com/send?phone=79300000000&amp;text=Сообщение в WhatsApp")
                                    span начать чат в
                                    span.pic
                                        include ../../../img/i-whatsapp.svg

            .col-12.col-xl-6.order-xl-2
                .first-screen__action.d-flex.flex-column.align-items-center.align-items-xl-start
                    .first-screen__action-title
                        | Узнайте секрет
                        br
                        | здоровой и сияющей кожи!
                    .first-screen__action-btn-wrap
                        .hand
                            include ../../../img/i-click-hand.svg
                        button.btn.first-screen__btn.animation-line.go-to-quiz.d-flex.flex-column.align-items-center.justify-content-center(type="button")
                            span пройти тест и получить
                            span протокол ухода
                    ul.first-screen__action-list.d-flex.justify-content-center
                        li.d-flex.flex-column.align-items-center
                            span.pic.d-flex.justify-content-center.align-items-center
                                include ../../../img/icon-time.svg
                            span.txt всего за 1 минуту
                        li.d-flex.flex-column.align-items-center
                            span.pic.d-flex.justify-content-center.align-items-center
                                include ../../../img/icon-present.svg
                            span.txt бесплатно
                        li.d-flex.flex-column.align-items-center
                            span.pic.d-flex.justify-content-center.align-items-center
                                include ../../../img/icon-reg.svg
                            span.txt не требует регистрации